*{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family: var(--font-primary);
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 80px;
  background-color: var(--main-theme);
  border-bottom: var(--text-white);
}
 
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.navbar-logo {
  font-size: 1.6rem;
  font-weight: 800;
  text-decoration: none;
  background: var(--text-white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.navbar-menu {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.navbar-item {
  position: relative;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffffff;
  padding: 6px 0;
  transition: color 0.3s ease;
}

.navbar-item:hover{
  color: var(--text-black);
}
 
.navbar-user {
  font-size: 0.9rem;
  color: #4b1100;
  font-weight: 600;
}
 
.navbar-button {
  padding: 8px 16px;
  border-radius: var(--border-large);
  border: 2px solid white;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  background:var(--main-theme);
  color: var(--text-black);
  transition: all 0.3s ease;
}
 
.navbar-button:hover {
  background:var(--text-white);
}