:root{
    --bg-grey:#f4f4f4;
    --text-black:black;

    --text-white:white;

    --border-small:3px;
    --border-medium:5px;
    --border-large:10px;

    --main-theme:#eb7734;

    --secondary-theme:grey;

    --font-primary: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}